<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <center>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pokémon_logo.svg/1200px-International_Pokémon_logo.svg.png" alt="logo pokemon" height="150" width="600">
        <br>
        <form action="http://127.0.0.1:5000/post" method="POST">
            <input type="text" name="nama_pokemon" placeholder="Ketik nama Pokemon ...">
            <br><br>
            <input type="submit" value="Cari"> 
        </form>
    </center>
    
</body>
</html>